@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: 0;
}

body{
    font-family: Inter;
    color: #09244B;
    font-weight: 700;
    font-size: 20px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 10px;
}

.header {
    border-bottom: 1px solid #000;
    padding: 8px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo, .header-logo img {
    width: 73px;
    height: 68px;
}

.header-nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-nav ul li a {
    color: #09244B;
}

.header-contact a {
    display: flex;
    align-items: center;
    color: #09244B;
}

.main {
    background: url(images/main.jpg) no-repeat center / cover;
    min-height: 971px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 145px;
    position: relative;
}

.main-title {
    padding-top: 158px;
    font-weight: 400;
    font-size: 96px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Konkhmer Sleokchher';
    text-transform: uppercase;
}

.main-button {
    background: #FF6F00;
    color: #fff;
    font-size: 32px;
    padding: 6px 45px;
    border-radius: 20px;
    font-weight: 700;
}

.main-oval {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 300px;
    width: 100%;
    border-radius: 45%;
    transform: translateY(50%);
}

.services {
    padding: 140px 0 150px;
}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title {
    text-align: center;
    font-family: 'Karla';
    font-weight: 500;
    color: #000;
    font-size: 48px;
}

.services-title p:last-child {
    text-shadow: 0px 8px 5.5px #00000040;
}

.services-line {
    display: block;
    max-width: 1000px;
    width: 100%;
    height: 1px;
    background: #09244B;
    position: relative;
    margin: 40px 0 144px;
}
.services-line::before,
.services-line::after {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background: #09244B;
    border-radius: 50%;
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
}
.services-line::after{
    left: auto;
    right: -11px;
}

.services-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 38px;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-card-title {
    font-size: 24px;
    margin: 20px 0 36px;
    text-align: center;
    max-width: 362px;
    padding: 0px 10px;
}

.services-card-text {
    font-size: 16px;
    text-align: center;
}

.tours {
    padding: 74px 0px 117px;
    background: url(images/tours.jpg) no-repeat 50% 60% / cover;
}

.tours-title {
    font-size: 96px;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    max-width: 885px;
    margin: 0 auto;
}

.tours-cards {
    margin-top: 70px;
    display: flex;
    align-items: start;
    gap: 50px;
    justify-content: space-between;
}

.tours-card {
    width: 300px;
    background: #FFFFFF;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.tours-card>img {
    height: 285px;
    width: 300px;
}

.tours-card-content {
    padding: 0px 13px 22px;
    position: relative;
}

.tours-card-link {
    color: #FE4B2F;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.tours-card-link span {
    border-bottom: 1px solid #FE4B2F;
    font-style: italic;
}

.tours-card-title {
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 45px;
}
.tours-card-text {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 24px;
    position: absolute;
    top: 66px;
}

.tours-card-info {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 20px;
}

.tours-card-price {
    width: 163px;
    margin: 0 auto;
    background: #09244B;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    padding: 2px 0;
    margin-bottom: 11px;
}
.tours-card-button {
    width: 205px;
    margin: 0 auto;
    color: #fff;
    background: #FF6F00;
    font-size: 14px;
    text-align: center;
    display: block;
    border-radius: 7px;
    padding: 5px 0;
}

.footer {
    background: #09244B;
}

.footer-about {
    padding-top: 24px;
}

.footer-about-title {
    color: #fff;
    font-size: 40px;
}
.footer-about-text {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
    max-width: 520px;
}

.footer-top {
    padding: 36px 0 24px;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    background: #fff;
    padding: 33px 33px 53px;
}

.footer-contacts-title {
    color: #000;
    font-size: 24px;
    margin-bottom: 24px;
}
.footer-contacts-title span {
    border-bottom: 4px solid #FF6F00;
}

.footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.footer-contacts-list a {
    color: #09244B;
    display: flex;
    align-items: center;
    gap: 69px;
}

.footer-bottom {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    border-top: 1px solid #fff;
    padding: 5px 0;
}
.footer-bottom p {
    max-width: 260px;
}

.request-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding-top: 73px;
    display: none;
}
.request-modal-close {
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
}
.request-modal.active {
    display: block;
}
.request-modal h2 {
    color: #000;
    font-size: 64px;
    text-align: center;
    padding-bottom: 101px;
}
.request-modal form {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}
.request-modal input {
    outline: none;
    padding: 17px 20px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    border: 1px solid #000;
    width: 100%;
}
.request-modal input::placeholder {
    color: #6F6F6F;
}
.request-modal button {
    margin-top: 42px;
    background: #FF6F00;
    font-size: 32px;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    padding: 5px 50px;
}